<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="Main-container">
        <div class="topnav"><a href="/">
                <a class="active" href="/">Log In</a>
                <img src="./pictures/shopping-bag (2).png" alt="">
                {{!-- <a href="/registration"></a> --}}
        </div>
        <br>
        <br>
        <form action="/api" method="Post">
            <h1>Sdumo Stileotos</h1>

            <strong>
                <p>Good shoes take you to good places
                    Stay fashionable with us!!!
            </strong></p>
    </div>
    <br>
    <br>
    <div class="Shoes">

        <img src="../pictures/theshoe.jpg" alt="">
        
        <img src="../pictures/thebluejpg" alt="">
        <h3>Green stilieto R750,00</h3>
        <img src="../pictures/theorange.jpg" alt="">
        <h3>Orange stilieto R750,00</h3>
        <img src="../pictures/thepurple.jpg" alt="">
        <h3>Purples stilieto R750,00</h3>
        <img src="../pictures/thered.jpg" alt="">
        <h3>Red stilieto R750,00</h3>
        <img src="../pictures/theyellow.jpg" alt="">
        <h3>Yellow stilieto R750,00</h3>
    </div>
    </form>
</body>

</html>